<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-12-15-警惕！4-5岁的孩子是语言能力的关键期.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232207.075701</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2017-01-14-孩子学英语，开口练习是关键.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.153669</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-01-17-一步步改进美语发音（3）.md</key>
			<dict>
				<key>lastModification</key>
				<real>506243267.56647599</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>2017-01-17-乔布斯罕见高清大图.md</key>
			<dict>
				<key>lastModification</key>
				<real>507959701.62111801</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>2017-01-17-幼升小：三个好习惯让你的孩子也成为尖子.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.15364301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-02-03-波士顿动力的最新机器人.md</key>
			<dict>
				<key>lastModification</key>
				<real>507959763.76744902</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>2017-02-06-每天500字：我为什么要开始每天写作？.md</key>
			<dict>
				<key>lastModification</key>
				<real>508041270.79344898</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2017-02-07-每天500字：今天谈谈读书.md</key>
			<dict>
				<key>lastModification</key>
				<real>508123714.8628</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2017-02-08-每天500字：专注我的朋友.md</key>
			<dict>
				<key>lastModification</key>
				<real>508212476.96135002</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-02-09-每天500字：从你的全世界走过.md</key>
			<dict>
				<key>lastModification</key>
				<real>508301866.85246301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>2017-02-10-每天500字：到底是读电子书还是实体书.md</key>
			<dict>
				<key>lastModification</key>
				<real>508387028.99953502</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>2017-02-11-每天500字：坚持不是一个容易的事情.md</key>
			<dict>
				<key>lastModification</key>
				<real>508494950.46885598</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2017-02-12-每天500字：关于写作能力的提高.md</key>
			<dict>
				<key>lastModification</key>
				<real>508605921.90496099</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>2017-02-13-每天500字：坚持不懈的教育.md</key>
			<dict>
				<key>lastModification</key>
				<real>508642814.80165797</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>2017-02-14-每天500字：说点情人节的事情.md</key>
			<dict>
				<key>lastModification</key>
				<real>508726153.61299002</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>2017-02-15-每天500字：时间就是情人的手，想抓的时候它就溜走了.md</key>
			<dict>
				<key>lastModification</key>
				<real>508814565.35838097</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>2017-02-16-每天500字：重要事说三遍，到了时间就去睡.md</key>
			<dict>
				<key>lastModification</key>
				<real>508898729.35271198</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>2017-02-17-每天500字：今天谈谈能力和盈利.md</key>
			<dict>
				<key>lastModification</key>
				<real>508985309.28490698</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>2017-02-20-每天500字：周末怎么度过的.md</key>
			<dict>
				<key>lastModification</key>
				<real>509249626.91490698</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>110</integer>
				</dict>
			</dict>
			<key>2017-02-21-每天500字：为什么VIVO小米手机现在很好卖.md</key>
			<dict>
				<key>lastModification</key>
				<real>509418858.92664897</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>2017-02-22-每天500字：小孩子应该学一些竞技体育运动.md</key>
			<dict>
				<key>lastModification</key>
				<real>509417457.64972699</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>122</integer>
				</dict>
			</dict>
			<key>2017-02-23-每天500字：小孩子应该学一些竞技体育运动（2）.md</key>
			<dict>
				<key>lastModification</key>
				<real>509504211.802643</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>132</integer>
				</dict>
			</dict>
			<key>2017-02-24-每天500字：写作练习之人物的动作.md</key>
			<dict>
				<key>lastModification</key>
				<real>509590491.76884401</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>141</integer>
				</dict>
			</dict>
			<key>2017-02-27-每天500字：怎么把读书当做一个爱好.md</key>
			<dict>
				<key>lastModification</key>
				<real>509935410.40381402</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>149</integer>
				</dict>
			</dict>
			<key>2017-02-28-每天500字： 学以致用才是真正掌握一个语言的方法.md</key>
			<dict>
				<key>lastModification</key>
				<real>509938006.98656201</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>509590408.58946401</real>
				<key>lastModification</key>
				<real>509590408.58946401</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>136</integer>
				</dict>
			</dict>
			<key>template.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.15364301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>508388422.34936303</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>2017-02-06-每天500字：我为什么要开始每天写作？.md</string>
		</array>
		<array>
			<string>2017-02-07-每天500字：今天谈谈读书.md</string>
		</array>
		<array>
			<string>2017-02-08-每天500字：专注我的朋友.md</string>
		</array>
		<array>
			<string>2017-02-09-每天500字：从你的全世界走过.md</string>
		</array>
		<array>
			<string>2017-02-10-每天500字：到底是读电子书还是实体书.md</string>
		</array>
		<array>
			<string>2017-02-11-每天500字：坚持不是一个容易的事情.md</string>
		</array>
		<array>
			<string>2017-02-12-每天500字：关于写作能力的提高.md</string>
		</array>
		<array>
			<string>2017-02-13-每天500字：坚持不懈的教育.md</string>
		</array>
		<array>
			<string>2017-02-14-每天500字：说点情人节的事情.md</string>
		</array>
		<array>
			<string>2017-02-15-每天500字：时间就是情人的手，想抓的时候它就溜走了.md</string>
		</array>
		<array>
			<string>2017-02-16-每天500字：重要事说三遍，到了时间就去睡.md</string>
		</array>
		<array>
			<string>2017-02-17-每天500字：今天谈谈能力和盈利.md</string>
		</array>
		<array>
			<string>2017-02-20-每天500字：周末怎么度过的.md</string>
		</array>
		<array>
			<string>2017-02-22-每天500字：小孩子应该学一些竞技体育运动.md</string>
		</array>
		<array>
			<string>2017-02-23-每天500字：小孩子应该学一些竞技体育运动（2）.md</string>
		</array>
		<array>
			<string>2017-02-27-每天500字：怎么把读书当做一个爱好.md</string>
		</array>
		<array>
			<string>2017-02-28-每天500字： 学以致用才是真正掌握一个语言的方法.md</string>
		</array>
		<array>
			<string>2017-02-24-每天500字：写作练习之人物的动作.md</string>
		</array>
		<array>
			<string>2017-02-21-每天500字：为什么VIVO小米手机现在很好卖.md</string>
		</array>
		<array>
			<string>2017-02-03-波士顿动力的最新机器人.md</string>
		</array>
		<array>
			<string>2017-01-17-一步步改进美语发音（3）.md</string>
		</array>
		<array>
			<string>2016-12-15-警惕！4-5岁的孩子是语言能力的关键期.md</string>
		</array>
		<array>
			<string>2017-01-17-幼升小：三个好习惯让你的孩子也成为尖子.md</string>
		</array>
		<array>
			<string>template.md</string>
		</array>
		<array>
			<string>2017-01-14-孩子学英语，开口练习是关键.md</string>
		</array>
		<array>
			<string>2017-01-17-乔布斯罕见高清大图.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>156</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
