<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-12-15-警惕！4-5岁的孩子是语言能力的关键期.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232207.075701</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2017-01-14-孩子学英语，开口练习是关键.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.153669</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-01-17-一步步改进美语发音（3）.md</key>
			<dict>
				<key>lastModification</key>
				<real>506243267.56647599</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>2017-01-17-乔布斯罕见高清大图.md</key>
			<dict>
				<key>lastModification</key>
				<real>507959701.62111801</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>2017-01-17-幼升小：三个好习惯让你的孩子也成为尖子.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.15364301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-02-03-波士顿动力的最新机器人.md</key>
			<dict>
				<key>lastModification</key>
				<real>507959763.76744902</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>2017-02-06-每天500字：我为什么要开始每天写作？.md</key>
			<dict>
				<key>lastModification</key>
				<real>508041270.79344898</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2017-02-07-每天500字：今天谈谈读书.md</key>
			<dict>
				<key>lastModification</key>
				<real>508123714.8628</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2017-02-08-每天500字：专注我的朋友.md</key>
			<dict>
				<key>lastModification</key>
				<real>508212476.96135002</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-02-09-每天500字：从你的全世界走过.md</key>
			<dict>
				<key>lastModification</key>
				<real>508301866.85246301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>2017-02-10-每天500字：到底是读电子书还是实体书.md</key>
			<dict>
				<key>lastModification</key>
				<real>508387028.99953502</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>2017-02-11-每天500字：坚持不是一个容易的事情.md</key>
			<dict>
				<key>lastModification</key>
				<real>508494950.46885598</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2017-02-12-每天500字：关于写作能力的提高.md</key>
			<dict>
				<key>lastModification</key>
				<real>508605921.90496099</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>2017-02-13-每天500字：坚持不懈的教育.md</key>
			<dict>
				<key>lastModification</key>
				<real>508642814.80165797</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>2017-02-14-每天500字：说点情人节的事情.md</key>
			<dict>
				<key>lastModification</key>
				<real>508726153.61299002</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>2017-02-15-每天500字：时间就是情人的手，想抓的时候它就溜走了.md</key>
			<dict>
				<key>lastModification</key>
				<real>508814565.35838097</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>2017-02-16-每天500字：重要事说三遍，到了时间就去睡.md</key>
			<dict>
				<key>lastModification</key>
				<real>508898729.35271198</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>2017-02-17-每天500字：今天谈谈能力和盈利.md</key>
			<dict>
				<key>lastModification</key>
				<real>508985309.28490698</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>2017-02-20-每天500字：周末怎么度过的.md</key>
			<dict>
				<key>lastModification</key>
				<real>509249626.91490698</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>110</integer>
				</dict>
			</dict>
			<key>2017-02-21-每天500字：为什么VIVO小米手机现在很好卖.md</key>
			<dict>
				<key>lastModification</key>
				<real>509418858.92664897</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>2017-02-22-每天500字：小孩子应该学一些竞技体育运动.md</key>
			<dict>
				<key>lastModification</key>
				<real>509417457.64972699</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>122</integer>
				</dict>
			</dict>
			<key>2017-02-23-每天500字：小孩子应该学一些竞技体育运动（2）.md</key>
			<dict>
				<key>lastModification</key>
				<real>509504211.802643</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>132</integer>
				</dict>
			</dict>
			<key>2017-02-24-每天500字：写作练习之人物的动作.md</key>
			<dict>
				<key>lastModification</key>
				<real>509590491.76884401</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>141</integer>
				</dict>
			</dict>
			<key>2017-02-27-每天500字：怎么把读书当做一个爱好.md</key>
			<dict>
				<key>lastModification</key>
				<real>509935410.40381402</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>149</integer>
				</dict>
			</dict>
			<key>2017-02-28-每天500字： 学以致用才是真正掌握一个语言的方法.md</key>
			<dict>
				<key>lastModification</key>
				<real>509938006.98656201</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>2017-03-01-每天500字： 什么才是新互联网时代的自媒体创业.md</key>
			<dict>
				<key>lastModification</key>
				<real>510022221.77288502</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>2017-03-02-每天500字： 换了一个新的地方办公.md</key>
			<dict>
				<key>lastModification</key>
				<real>510110119.04754198</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>2017-03-03-每天500字： 自我认知和现实认知出现差别怎么办.md</key>
			<dict>
				<key>lastModification</key>
				<real>510197171.40135998</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>169</integer>
				</dict>
			</dict>
			<key>2017-03-07-每天500字： 周末带出去孩子玩，孩子吃坏了肚子.md</key>
			<dict>
				<key>lastModification</key>
				<real>510542264.95220798</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>177</integer>
				</dict>
			</dict>
			<key>2017-03-08-每天500字： 谈谈口语的练习，别总以为自己很勤奋.md</key>
			<dict>
				<key>lastModification</key>
				<real>510627134.44047099</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>181</integer>
				</dict>
			</dict>
			<key>2017-03-09-每天500字： 生病了一天，难受极了.md</key>
			<dict>
				<key>lastModification</key>
				<real>510714404.33675498</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>2017-03-10-每天500字： 这几天特别忙，好多事情干不好？.md</key>
			<dict>
				<key>lastModification</key>
				<real>510801418.86492801</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>2017-03-16-每天500字： 保持好心态.md</key>
			<dict>
				<key>lastModification</key>
				<real>511318503.05731899</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>2017-03-16-每天500字： 写一段对环境的描述.md</key>
			<dict>
				<key>lastModification</key>
				<real>511404975.72757</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>206</integer>
				</dict>
			</dict>
			<key>2017-03-21-每天500字： 怎样才能说服一个人.md</key>
			<dict>
				<key>lastModification</key>
				<real>511750253.77334499</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>210</integer>
				</dict>
			</dict>
			<key>2017-03-22-每天500字： 又是回南天.md</key>
			<dict>
				<key>lastModification</key>
				<real>511837151.61080998</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>218</integer>
				</dict>
			</dict>
			<key>2017-03-23-每天500字：孩子的榜样是父母.md</key>
			<dict>
				<key>lastModification</key>
				<real>511925191.25083101</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>226</integer>
				</dict>
			</dict>
			<key>2017-03-24-每天500字：对今天天气的描写.md</key>
			<dict>
				<key>lastModification</key>
				<real>512013838.50098199</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>229</integer>
				</dict>
			</dict>
			<key>2017-03-29-每天500字：这几天因为房子跑的好累.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439926.31821102</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>241</integer>
				</dict>
			</dict>
			<key>2017-03-30-每天500字：白描练习.md</key>
			<dict>
				<key>lastModification</key>
				<real>512529137.27077401</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>247</integer>
				</dict>
			</dict>
			<key>2017-03-31-每天500字：为什么大部分人不需要真相.md</key>
			<dict>
				<key>lastModification</key>
				<real>512614368.431283</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>257</integer>
				</dict>
			</dict>
			<key>2017-04-05-每天500字：努力不是说说就算了的事情.md</key>
			<dict>
				<key>lastModification</key>
				<real>513048094.88150197</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>268</integer>
				</dict>
			</dict>
			<key>2017-04-06-每天500字：怎么把才能变成赚钱的的本钱.md</key>
			<dict>
				<key>lastModification</key>
				<real>513135442.26429802</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>278</integer>
				</dict>
			</dict>
			<key>2017-04-07-每天500字：能力的成长不是升级打怪.md</key>
			<dict>
				<key>lastModification</key>
				<real>513220382.63006502</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>286</integer>
				</dict>
			</dict>
			<key>2017-04-08-每天500字：学习的效率在于简化的能力.md</key>
			<dict>
				<key>lastModification</key>
				<real>513305805.68455303</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>289</integer>
				</dict>
			</dict>
			<key>2017-04-09-每天500字：如何取舍.md</key>
			<dict>
				<key>lastModification</key>
				<real>513478300.83285397</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>295</integer>
				</dict>
			</dict>
			<key>2017-04-11-每天500字：一日之际在于晨.md</key>
			<dict>
				<key>lastModification</key>
				<real>513565349.04368001</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>301</integer>
				</dict>
			</dict>
			<key>2017-04-13-每天500字：谈谈购房的陷阱.md</key>
			<dict>
				<key>lastModification</key>
				<real>513739590.16653198</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>310</integer>
				</dict>
			</dict>
			<key>2017-04-14-每天500字：还是签不了合同很心急.md</key>
			<dict>
				<key>lastModification</key>
				<real>513825142.62976801</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>316</integer>
				</dict>
			</dict>
			<key>2017-04-17-每天500字：想玩的开心还是要先完成任务才好.md</key>
			<dict>
				<key>lastModification</key>
				<real>514082557.24999303</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>322</integer>
				</dict>
			</dict>
			<key>2017-04-18-每天500字：像上瘾一样的学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>514169174.95801002</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>326</integer>
				</dict>
			</dict>
			<key>2017-04-19-每天500字：哪有什么运气，只是准备的充分而已.md</key>
			<dict>
				<key>lastModification</key>
				<real>514256086.75513202</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>332</integer>
				</dict>
			</dict>
			<key>2017-04-20-每天500字：你那有全力以赴，你只是浅尝辄止.md</key>
			<dict>
				<key>lastModification</key>
				<real>514342717.14927697</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>343</integer>
				</dict>
			</dict>
			<key>2017-04-21-每天500字：中国式教育.md</key>
			<dict>
				<key>lastModification</key>
				<real>514433785.89658898</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>351</integer>
				</dict>
			</dict>
			<key>2017-04-24-每天500字：要给自己一些挑战.md</key>
			<dict>
				<key>lastModification</key>
				<real>514683591.21982402</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>355</integer>
				</dict>
			</dict>
			<key>2017-04-25-每天500字：今天是我的生日.md</key>
			<dict>
				<key>lastModification</key>
				<real>514774476.14209801</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>359</integer>
				</dict>
			</dict>
			<key>2017-04-26-每天500字：写文章需要一个吓人一跳的名字.md</key>
			<dict>
				<key>lastModification</key>
				<real>514860560.89426601</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>363</integer>
				</dict>
			</dict>
			<key>2017-04-27-每天500字：每天进步一点点其实是一个坚持的好办法.md</key>
			<dict>
				<key>lastModification</key>
				<real>514947188.72626197</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>367</integer>
				</dict>
			</dict>
			<key>2017-04-28-每天500字：我与京信二十年.md</key>
			<dict>
				<key>lastModification</key>
				<real>515034518.99161899</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>373</integer>
				</dict>
			</dict>
			<key>2017-05-02-每天500字：拖延症真是可怕.md</key>
			<dict>
				<key>lastModification</key>
				<real>515376149.40421098</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>381</integer>
				</dict>
			</dict>
			<key>2017-05-03-每天500字：为什么在教育孩子时总是按捺不住怒火.md</key>
			<dict>
				<key>lastModification</key>
				<real>515468404.69507498</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>389</integer>
				</dict>
			</dict>
			<key>2017-05-04-每天500字：怎样去背英语单词.md</key>
			<dict>
				<key>lastModification</key>
				<real>515552073.73742002</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>393</integer>
				</dict>
			</dict>
			<key>2017-05-09-每天500字：小学数学怎么学习？.md</key>
			<dict>
				<key>lastModification</key>
				<real>515983950.80970103</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>397</integer>
				</dict>
			</dict>
			<key>2017-05-10-每天500字：一个晚上看了两个老男人的哽咽.md</key>
			<dict>
				<key>lastModification</key>
				<real>516070755.64225203</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>403</integer>
				</dict>
			</dict>
			<key>2017-05-11-每天500字：你到底是在作秀还是在拼命学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>516156746.08349597</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>407</integer>
				</dict>
			</dict>
			<key>2017-05-12-每天500字：口语应该怎么练.md</key>
			<dict>
				<key>lastModification</key>
				<real>516504238.98568398</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>423</integer>
				</dict>
			</dict>
			<key>2017-05-15-每天500字：给孩子做好榜样其实很不容易.md</key>
			<dict>
				<key>lastModification</key>
				<real>516501738.91444099</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>417</integer>
				</dict>
			</dict>
			<key>2017-05-16-每天500字：保证时不时的学点新东西.md</key>
			<dict>
				<key>lastModification</key>
				<real>516590201.27998698</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>429</integer>
				</dict>
			</dict>
			<key>2017-05-17-每天500字：为甚骗人的没事打假的却消失了.md</key>
			<dict>
				<key>lastModification</key>
				<real>516675904.61210197</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>437</integer>
				</dict>
			</dict>
			<key>2017-05-18-每天500字：徐晓冬，凭什么像个孩子一样要糖吃.md</key>
			<dict>
				<key>lastModification</key>
				<real>516848070.55879301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>447</integer>
				</dict>
			</dict>
			<key>2017-05-19-每天500字：谈谈最近英语学习的几点感受.md</key>
			<dict>
				<key>lastModification</key>
				<real>516848172.59172797</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>451</integer>
				</dict>
			</dict>
			<key>2017-05-22-每天500字：你能控制的就是让自己更优秀.md</key>
			<dict>
				<key>lastModification</key>
				<real>517103819.011419</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>457</integer>
				</dict>
			</dict>
			<key>2017-05-23-每天500字：选好了目标你就撒开丫子跑吧.md</key>
			<dict>
				<key>lastModification</key>
				<real>517193564.33901</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>465</integer>
				</dict>
			</dict>
			<key>2017-05-24-每天500字：白描练习.md</key>
			<dict>
				<key>lastModification</key>
				<real>517297172.14400798</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>471</integer>
				</dict>
			</dict>
			<key>2017-05-25-每天500字：自律是做事的第一要务-减肥开始 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>517462028.49743903</real>
				<key>lastModification</key>
				<real>517462028.49743903</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>483</integer>
				</dict>
			</dict>
			<key>2017-05-25-每天500字：自律是做事的第一要务-减肥开始.md</key>
			<dict>
				<key>lastModification</key>
				<real>517384597.08126301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>479</integer>
				</dict>
			</dict>
			<key>template.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.15364301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>508388422.34936303</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-02-06-每天500字：我为什么要开始每天写作？.md</string>
		</array>
		<array>
			<string>2017-02-07-每天500字：今天谈谈读书.md</string>
		</array>
		<array>
			<string>2017-02-08-每天500字：专注我的朋友.md</string>
		</array>
		<array>
			<string>2017-02-09-每天500字：从你的全世界走过.md</string>
		</array>
		<array>
			<string>2017-02-10-每天500字：到底是读电子书还是实体书.md</string>
		</array>
		<array>
			<string>2017-02-11-每天500字：坚持不是一个容易的事情.md</string>
		</array>
		<array>
			<string>2017-02-12-每天500字：关于写作能力的提高.md</string>
		</array>
		<array>
			<string>2017-02-13-每天500字：坚持不懈的教育.md</string>
		</array>
		<array>
			<string>2017-02-14-每天500字：说点情人节的事情.md</string>
		</array>
		<array>
			<string>2017-02-15-每天500字：时间就是情人的手，想抓的时候它就溜走了.md</string>
		</array>
		<array>
			<string>2017-02-16-每天500字：重要事说三遍，到了时间就去睡.md</string>
		</array>
		<array>
			<string>2017-02-17-每天500字：今天谈谈能力和盈利.md</string>
		</array>
		<array>
			<string>2017-02-20-每天500字：周末怎么度过的.md</string>
		</array>
		<array>
			<string>2017-02-22-每天500字：小孩子应该学一些竞技体育运动.md</string>
		</array>
		<array>
			<string>2017-02-23-每天500字：小孩子应该学一些竞技体育运动（2）.md</string>
		</array>
		<array>
			<string>2017-02-27-每天500字：怎么把读书当做一个爱好.md</string>
		</array>
		<array>
			<string>2017-02-28-每天500字： 学以致用才是真正掌握一个语言的方法.md</string>
		</array>
		<array>
			<string>2017-03-01-每天500字： 什么才是新互联网时代的自媒体创业.md</string>
		</array>
		<array>
			<string>2017-03-02-每天500字： 换了一个新的地方办公.md</string>
		</array>
		<array>
			<string>2017-03-03-每天500字： 自我认知和现实认知出现差别怎么办.md</string>
		</array>
		<array>
			<string>2017-03-07-每天500字： 周末带出去孩子玩，孩子吃坏了肚子.md</string>
		</array>
		<array>
			<string>2017-03-08-每天500字： 谈谈口语的练习，别总以为自己很勤奋.md</string>
		</array>
		<array>
			<string>2017-03-09-每天500字： 生病了一天，难受极了.md</string>
		</array>
		<array>
			<string>2017-03-10-每天500字： 这几天特别忙，好多事情干不好？.md</string>
		</array>
		<array>
			<string>2017-03-16-每天500字： 保持好心态.md</string>
		</array>
		<array>
			<string>2017-03-16-每天500字： 写一段对环境的描述.md</string>
		</array>
		<array>
			<string>2017-03-21-每天500字： 怎样才能说服一个人.md</string>
		</array>
		<array>
			<string>2017-03-22-每天500字： 又是回南天.md</string>
		</array>
		<array>
			<string>2017-03-23-每天500字：孩子的榜样是父母.md</string>
		</array>
		<array>
			<string>2017-03-24-每天500字：对今天天气的描写.md</string>
		</array>
		<array>
			<string>2017-03-29-每天500字：这几天因为房子跑的好累.md</string>
		</array>
		<array>
			<string>2017-03-30-每天500字：白描练习.md</string>
		</array>
		<array>
			<string>2017-03-31-每天500字：为什么大部分人不需要真相.md</string>
		</array>
		<array>
			<string>2017-04-05-每天500字：努力不是说说就算了的事情.md</string>
		</array>
		<array>
			<string>2017-04-06-每天500字：怎么把才能变成赚钱的的本钱.md</string>
		</array>
		<array>
			<string>2017-04-07-每天500字：能力的成长不是升级打怪.md</string>
		</array>
		<array>
			<string>2017-04-08-每天500字：学习的效率在于简化的能力.md</string>
		</array>
		<array>
			<string>2017-04-09-每天500字：如何取舍.md</string>
		</array>
		<array>
			<string>2017-04-11-每天500字：一日之际在于晨.md</string>
		</array>
		<array>
			<string>2017-04-13-每天500字：谈谈购房的陷阱.md</string>
		</array>
		<array>
			<string>2017-04-14-每天500字：还是签不了合同很心急.md</string>
		</array>
		<array>
			<string>2017-04-17-每天500字：想玩的开心还是要先完成任务才好.md</string>
		</array>
		<array>
			<string>2017-04-18-每天500字：像上瘾一样的学习.md</string>
		</array>
		<array>
			<string>2017-04-19-每天500字：哪有什么运气，只是准备的充分而已.md</string>
		</array>
		<array>
			<string>2017-04-20-每天500字：你那有全力以赴，你只是浅尝辄止.md</string>
		</array>
		<array>
			<string>2017-04-21-每天500字：中国式教育.md</string>
		</array>
		<array>
			<string>2017-04-24-每天500字：要给自己一些挑战.md</string>
		</array>
		<array>
			<string>2017-04-25-每天500字：今天是我的生日.md</string>
		</array>
		<array>
			<string>2017-04-26-每天500字：写文章需要一个吓人一跳的名字.md</string>
		</array>
		<array>
			<string>2017-04-27-每天500字：每天进步一点点其实是一个坚持的好办法.md</string>
		</array>
		<array>
			<string>2017-04-28-每天500字：我与京信二十年.md</string>
		</array>
		<array>
			<string>2017-05-02-每天500字：拖延症真是可怕.md</string>
		</array>
		<array>
			<string>2017-05-03-每天500字：为什么在教育孩子时总是按捺不住怒火.md</string>
		</array>
		<array>
			<string>2017-05-04-每天500字：怎样去背英语单词.md</string>
		</array>
		<array>
			<string>2017-05-09-每天500字：小学数学怎么学习？.md</string>
		</array>
		<array>
			<string>2017-05-10-每天500字：一个晚上看了两个老男人的哽咽.md</string>
		</array>
		<array>
			<string>2017-05-11-每天500字：你到底是在作秀还是在拼命学习.md</string>
		</array>
		<array>
			<string>2017-05-15-每天500字：给孩子做好榜样其实很不容易.md</string>
		</array>
		<array>
			<string>2017-05-16-每天500字：保证时不时的学点新东西.md</string>
		</array>
		<array>
			<string>2017-05-17-每天500字：为甚骗人的没事打假的却消失了.md</string>
		</array>
		<array>
			<string>2017-05-18-每天500字：徐晓冬，凭什么像个孩子一样要糖吃.md</string>
		</array>
		<array>
			<string>2017-05-19-每天500字：谈谈最近英语学习的几点感受.md</string>
		</array>
		<array>
			<string>2017-05-22-每天500字：你能控制的就是让自己更优秀.md</string>
		</array>
		<array>
			<string>2017-05-23-每天500字：选好了目标你就撒开丫子跑吧.md</string>
		</array>
		<array>
			<string>2017-05-24-每天500字：白描练习.md</string>
		</array>
		<array>
			<string>2017-05-25-每天500字：自律是做事的第一要务-减肥开始.md</string>
		</array>
		<array>
			<string>2017-05-25-每天500字：自律是做事的第一要务-减肥开始 - 2.md</string>
		</array>
		<array>
			<string>2017-05-12-每天500字：口语应该怎么练.md</string>
		</array>
		<array>
			<string>2017-02-24-每天500字：写作练习之人物的动作.md</string>
		</array>
		<array>
			<string>2017-02-21-每天500字：为什么VIVO小米手机现在很好卖.md</string>
		</array>
		<array>
			<string>2017-02-03-波士顿动力的最新机器人.md</string>
		</array>
		<array>
			<string>2017-01-17-一步步改进美语发音（3）.md</string>
		</array>
		<array>
			<string>2016-12-15-警惕！4-5岁的孩子是语言能力的关键期.md</string>
		</array>
		<array>
			<string>2017-01-17-幼升小：三个好习惯让你的孩子也成为尖子.md</string>
		</array>
		<array>
			<string>template.md</string>
		</array>
		<array>
			<string>2017-01-14-孩子学英语，开口练习是关键.md</string>
		</array>
		<array>
			<string>2017-01-17-乔布斯罕见高清大图.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>485</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
