<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-05-19-when-your-exe-name-contains-install-or-setup.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506228777.63217998</real>
				<key>lastModification</key>
				<real>506232142.15364099</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-12-05-diff-between-gfm-and-redcarpet.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506228778.14302999</real>
				<key>lastModification</key>
				<real>506232142.15366799</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-06-28-vim-kramdown-tab.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506228778.70470202</real>
				<key>lastModification</key>
				<real>506232142.15366697</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-07-11-remove-https.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506228779.21606803</real>
				<key>lastModification</key>
				<real>506232142.15364599</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-08-03-add-outline-for-markdown-in-vim.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506228779.73449099</real>
				<key>lastModification</key>
				<real>506232142.15364498</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-12-14-rtfsc-with-opengrok.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506228780.25997001</real>
				<key>lastModification</key>
				<real>506232142.15364403</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-12-15-警惕！4-5岁的孩子是语言能力的关键期.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232207.075701</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2017-01-14-孩子学英语，开口练习是关键.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.153669</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-01-17-一步步改进美语发音（3）.md</key>
			<dict>
				<key>lastModification</key>
				<real>506243267.56647599</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>2017-01-17-幼升小：三个好习惯让你的孩子也成为尖子.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.15364301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>[译]015-Communication and Your 4- to 5-Year-Old - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506232352.518417</real>
				<key>lastModification</key>
				<real>506232352.518417</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>template.md</key>
			<dict>
				<key>lastModification</key>
				<real>506232142.15364301</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-05-19-when-your-exe-name-contains-install-or-setup.md</string>
		</array>
		<array>
			<string>2017-01-17-一步步改进美语发音（3）.md</string>
		</array>
		<array>
			<string>2016-12-15-警惕！4-5岁的孩子是语言能力的关键期.md</string>
		</array>
		<array>
			<string>[译]015-Communication and Your 4- to 5-Year-Old - 2.md</string>
		</array>
		<array>
			<string>2017-01-17-幼升小：三个好习惯让你的孩子也成为尖子.md</string>
		</array>
		<array>
			<string>template.md</string>
		</array>
		<array>
			<string>2016-12-14-rtfsc-with-opengrok.md</string>
		</array>
		<array>
			<string>2016-08-03-add-outline-for-markdown-in-vim.md</string>
		</array>
		<array>
			<string>2016-07-11-remove-https.md</string>
		</array>
		<array>
			<string>2016-06-28-vim-kramdown-tab.md</string>
		</array>
		<array>
			<string>2015-12-05-diff-between-gfm-and-redcarpet.md</string>
		</array>
		<array>
			<string>2017-01-14-孩子学英语，开口练习是关键.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>29</integer>
		</dict>
	</dict>
</dict>
</plist>
